@import 'tailwindcss';
@import './flux-override.css';
@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';
/*@import '../../vendor/livewire/flux/dist/flux.css' layer(utilities);*/
/*@import './writing.css' layer(utilities);*/

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/** enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';

/* Custom theme */
@theme {
    --color-pg-primary-50: oklch(0.985 0 0);
    --color-pg-primary-100: oklch(0.97 0 0);
    --color-pg-primary-200: oklch(0.922 0 0);
    --color-pg-primary-300: oklch(0.87 0 0);
    --color-pg-primary-400: oklch(0.708 0 0);
    --color-pg-primary-500: oklch(0.556 0 0);
    --color-pg-primary-600: oklch(0.439 0 0);
    --color-pg-primary-700: oklch(0.371 0 0);
    --color-pg-primary-800: oklch(0.269 0 0);
    --color-pg-primary-900: oklch(0.205 0 0);
    --color-pg-primary-950: oklch(0.145 0 0);
}

#scorebox {
    position: absolute;
}

input[type="radio"].scorer {
    margin: 0 0 0 0 !important;
}
label.scorer-label {
    display: inline-flex;
    width: auto;
}

.button-radius {
    @apply inline-block items-center rounded-md border border-transparent
    bg-indigo-600 px-4 py-2 text-sm font-medium text-white
    shadow-xs hover:bg-indigo-700 focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
}
a.mybutton,
input.button,
button.button,
a.button {
    @apply m-2 px-8 py-2 bg-indigo-600 text-white rounded-lg  shadow-xs hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-200;
}
